<!doctype html>
<title>Temperature and CO2-level</title>

<form action="/web_visualization" method="POST">
	<h1>Here you can select different parameters.</h1>
	Choose following parameters:
	<br/>
	<input type="radio" name="month" value="1" checked>January</input>
	<br/>
	<input type="radio" name="month" value="2">February</input>
	<br/>
	<input type="radio" name="month" value="3">March</input>
	<br/>
	<input type="radio" name="month" value="4">April</input>
	<br/>
	<input type="radio" name="month" value="5">May</input>
	<br/>
	<input type="radio" name="month" value="6">June</input>
	<br/>
	<input type="radio" name="month" value="7">July</input>
	<br/>
	<input type="radio" name="month" value="8">August</input>
	<br/>
	<input type="radio" name="month" value="9">September</input>
	<br/>
	<input type="radio" name="month" value="10">October</input>
	<br/>
	<input type="radio" name="month" value="11">November</input>
	<br/>
	<input type="radio" name="month" value="12">December</input>
	<br/>
    <input type="submit" value="Submit">
</form>

<form>
  Start year:<br>
  <input type="text" name="year">
  <br>
  End year:<br>
  <input type="text" name="year">
  <br>
</form>

<form>
  Start :<br>
  <input type="text" name="year">
  <br>
  End year:<br>
  <input type="text" name="year">
  <br>
</form>


